div(class='question-page')
    if questions
          div(class='side-bar')
               div(class='user-message')
               a(href='/' class='side-bar btn') Home
               p PUBLIC
               div(class='q-link')
                 image(class='earth' src='/images/earth.png')
                  a(href='/') Questions
          div(class='questions-list-container')
             div(class='questions-box')
                 div(class='questions-header')
                   div(class='question-button-container')
                       h1 All Questions
                   div(class='ask-button-container')
                      a(href=`/questions/add`)
                          button(class='btn ask-question') Ask Question
                 div(class='row')
                    p Top Questions
                 div(class='')
                      div(class='questionbody')
                         each question in questions
                               div(class='row question')
                                  div(class='counts-box')
                                    div(class='vote-box')
                                       if locals.authenticated
                                          form(action='/votes/upvote/question' method='PATCH')
                                             button(class="fas fa-chevron-up" id=`question-upvote-${question.id}`)
                                                //- i(class="fas fa-chevron-up")
                                             //- i(class='fas fa-chevron-up'  id=`question-upvote-${question.id}` type="button" class="question-upvote-button")
                                       div(class='span')
                                          span(class='number' id=`question-counter-${question.id}`) #{question.voteCount}
                                       if locals.authenticated
                                          form(action='/votes/downvote/question' method='PATCH')
                                             button(class="fas fa-chevron-down" id=`question-downvote-${question.id}`)
                                                //- i(class="fas fa-chevron-down")
                                             //- i(class='fas fa-chevron-down'  id=`question-downvote-${question.id}` type="button" class="question-downvote-button")
                                       div(class='span')
                                          span votes
                                    div(class='answer-box')
                                       div(class='span')
                                          span(id='number') 0
                                       div(class='span')
                                          span answers
                                  div(class='question-display-box')
                                    div(class='question-link-container')
                                       a(class='question-answer-link-btn' href=`/questions/${question.id}`) #{question.title}
                                    div(class='question-date-author-container')
                                       div(class='q-date-auth-box')
                                           p #{question.createdAt}
                                           p #{question.User}
    else
         table(class='questions')
            thead(class='questionHead')
                 tr
                    th Questions
            tbody
              tr
                  td you have no questionsplease answer some questions!
include footer
