extends layout.pug

block content
  div(class='question-container-page')
    div(class='side-bar')
      div(class='user-message')
          a(href='/' class='side-bar btn') Home
          p PUBLIC
          div(class='q-link')
                 image(class='earth' src='/images/earth.png')
                  a(href='/questions') Questions
    div(class='question-container')
        div(class='question-box')
          div(class="question-header")
            h1 #{question.title}
              div(class='ask-button-container')
                a(href=`/questions/add`)
                  button Ask Question
          div(class='question-description')
            div(class="votes-container")
              div(class='question-upvote')
                if locals.authenticated
                  form(action='/votes/upvote/question' method='PATCH')
                    button(class="fas fa-chevron-up question-upvote-button" id=`question-upvote-${question.id}`)
              div(class='question-span')
                span(class='number' id=`question-counter-${question.id}`) #{question.voteCount}
              if locals.authenticated
                form(action='/votes/downvote/question' method='PATCH')
                  button(class="fas fa-chevron-down question-downvote-button" id=`question-downvote-${question.id}`)
              div(class='span')
                span votes
            div(class='question-description-content')
              div(class='description')
                p #{question.question}
              div(class='user-info-container')
                  div(class='question-delete-edit-container')
                    if locals.user
                      if locals.user.id === question.userId
                        a(class='edit-question' id=`${question.id}`) Edit
                        a(class='delete-question' id=`${question.id}`) Delete
                  div(class='user-info')
                    p Asked by: #{userQ.dataValues.username}

          div
            div(class='answer-header')
              h2 Answers
              if (answers.length <= 0)
                div(class='no-answer-container')
                  h2 This question has no answers. Be the first to answer!
              each answer in answers
                  div(class='question-description')
                    div(class="votes-container")
                      div(class='question-upvote')
                        if locals.authenticated
                          form(action=`/votes/upvote/answer/` method='PATCH')
                            button(class="fas fa-chevron-up answer-upvote-button" id=`answer-upvote-${answer.id}`)
                      div(class='question-span')
                        span(class='number' id=`answer-counter-${answer.id}`) #{answer.voteCount}
                      if locals.authenticated
                        form(action=`/votes/downvote/answer/` method='PATCH')
                          button(class="fas fa-chevron-down answer-downvote-button" id=`answer-downvote-${answer.id}`)
                      div(class='span')
                        span votes
                    div(class='question-description-content')
                      div(class='description')
                        p(class='answer-content') #{answer.answer}
                      div(class='answer-info-container')
                        div(class='answer-delete-edit-container')
                          if locals.user
                              if locals.user.id === answer.userId
                                a(class=`edit-answer` id=`${answer.id}`) Edit
                                a(class="delete-answer" id=`${answer.id}`) Delete
                        div(class='user-info')
                          p Answered By: #{userA.username}
          include answers.pug
